.my-form-table{
    width: 100%;
}
.my-form-table th{
    width: 100px;
}
.my-form-table th,
.my-form-table td{
    padding: 5px;
}
.my-form-table input[type='text'],
.my-form-table textarea{
    width: 70%;
}


.executer .fa{
    color: #0073B7;
}
.responsible .fa{
    color: #DD4B39;
}

nav li a.red{
    color: red;
}

.deadline-today .timeline-header a {

    color: #DD4B39;
}


.timeline-wrapper{

    overflow: auto;

}

footer{

}

.container-padding{
    padding: 20px 0;
}

.error_list{
    list-style: none;
    color: red;
    margin-left: 0;
    padding-left: 0;
}