.my-form-table{
    width: 100%;
}
.my-form-table th{
    width: 100px;
}
.my-form-table th,
.my-form-table td{
    padding: 5px;
}
.my-form-table input[type='text'],
.my-form-table textarea{
    width: 70%;
}


.executer .fa{
    color: #0073B7;
}
.responsible .fa{
    color: #DD4B39;
}

nav li a.red{
    color: red;
}

.deadline-today .timeline-header a {

    color: #DD4B39;
}


.timeline-wrapper{

    overflow: auto;

}

footer{

}

.container-padding{
    padding: 20px 0;
}

.error_list{
    list-style: none;
    color: red;
    margin-left: 0;
    padding-left: 0;
}

.left-col{
    position: absolute;
    left: 0;
    top: 50px;
    width: 230px;
}
.left-col ul{
    padding: 0;
    margin: 0;
}
.left-col li{
    list-style: none;
}
.left-col a{
    display: block;
    padding: 5px 20px;
}
.left-col a:hover,
.left-col .active a{
    background: #ECF0F5;
}


.wrapper-relative{
    position:relative;
}
input#task_punishment{
    position: relative;
    background: #fff;
    z-index: 100;
}
select#task_punishment_preset{
    position: absolute;
    top: 2px;
}

.my-fixed{
    position: fixed;
    right: 30px;
    top: 30px;
    max-width: 400px;
}
.my-fixed .alert{
    display: none;
}

input#task_deadline{
    position: relative;
    z-index: 1000;
}